* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
    align-items: center;
    background-color: #85cdf5;
    width: auto;
    height: 130px;
    gap: 5%;
  }
  header > a {
    width: 222px;
    height: 30px;
    top: 50px;
    left: 219px;
  
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #333333;
    text-decoration: none;
  }
  .lista:hover{
    color: #deb959;
    transition: ease-in-out 0.3s;
  }
  .qmsomos:hover{
    color: #deb959;
    transition: ease-in-out 0.3s;
  }
.busca{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
    margin-top: 20px;
}
.busca>button:nth-child(3){
    width: 130px;
    height: 47px;

    font-family: Darker Grotesque;
    font-size: 36px;
    line-height: 48.82px;
    letter-spacing: 0%;
    background-color: #deb959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0;

}
.pesquisa{
    width: 808px;
    height: 47px;

    border-width: 1px;

}
.busca_botao{
    position: relative;
    display: flex;
    left: 3.8%;
    background-color: white;
    border: 0;
    
}
.ver_adotados{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 18.55%;
    font-family: Darker Grotesque;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.54px;
    letter-spacing: 0%;

}

.lobo_exemplo{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 60px;
  }
  
  .lobo_exemplo>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    gap:60px;
    
  }
  .texto_exemplo{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 461px;
    height: auto;
  }
  .texto_exemplo>div{
    display: flex;
    align-items: center;
    gap: 114px;
  }
  .texto_exemplo>div>button{
    width: 130px;
    height: 47px;

    font-family: Darker Grotesque;
    font-size: 36px;
    line-height: 48.82px;
    letter-spacing: 0%;
    background-color: #deb959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0;
  }
  .texto_exemplo>div>div>h2{
    font-family: Darker Grotesque;
    font-size: 36px;
    line-height: 48.82px;
    letter-spacing: 0%;
  
  
  }
  .texto_exemplo>div>div>p:nth-child(2){
    font-family: Darker Grotesque;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
    
  
  }
  .texto_exemplo>p:nth-child(2){
    font-family: Darker Grotesque;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 28px;
    text-align: start;
  
  }
  .imagem_exemplo{
    position: relative;
    width: 40%; 
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    
  }
  .fundo_azul{
    width: 100%;
      height: 100%;
      background-color: #2C5680;
  
      position: absolute;
      bottom: 10%;  
      right: 8%; 
      border: 3px solid black;
      z-index: 1;
      
  
  }
  .imagem_exemplo>a>img{
    position: relative;
      width: 100%;
      bottom: 80%;
      z-index: 2;
      display: block;
      transform: scale(1);
      display: flex;
      
  }
  
  
  .lobo_exemplo2{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;
  }
  
  .lobo_exemplo2>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
   
    gap:60px;
    
  }
  .texto_exemplo2{
    
    display: flex;
    flex-direction: column;
    
    width: 461px;
    height: auto;
  }
  .texto_exemplo2>div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 114px;
  }
  .texto_exemplo2>div>button{
    width: 130px;
    height: 47px;

    font-family: Darker Grotesque;
    font-size: 36px;
    line-height: 48.82px;
    letter-spacing: 0%;
    background-color: #deb959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0;
  }
  .texto_exemplo2>div>div>h2{
    font-family: Darker Grotesque;
    font-size: 36px;
    line-height: 48.82px;
    letter-spacing: 0%;
  
  
  }
  .texto_exemplo2>div>div>p:nth-child(2){
    font-family: Darker Grotesque;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
    
  
  }
  .texto_exemplo2>p:nth-child(2){
    font-family: Darker Grotesque;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 28px;
    text-align: end;
  }
  .imagem_exemplo2{
    position: relative;
    width: 40%; 
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    
  }
  .fundo_azul2{
    width: 100%;
      height: 100%;
      background-color: #2C5680;
  
      position: absolute;
      bottom: 10%;  
      left: 8%; 
      border: 3px solid black;
      z-index: 1;
      
  
  }
  .imagem_exemplo2>a>img{
    position: relative;
      width: 100%;
      bottom: 80%;
      z-index: 2;
      display: block;
      transform: scale(1);
      display: flex;
      
  }

.paginas{
    display: flex;
    justify-content: center;
    background-color: white;
    list-style: none;
    gap: 5px;
    margin-bottom: 27px;;

}
.paginas>li>button{
    background-color: white;
    border:0;
}
.paginas>li>button:hover{
    color: rgb(27, 2, 255);
    
}

footer {
    width: auto;
    height: 270px;
    background: #333333;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .dados_footer {
    display: flex;
    flex-direction: column;
    width: 378px;
    gap: 30px;
  }
  .dados_footer > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0%;
    gap: 20px;
    color: white;
  }
  .dados_footer > ul > li {
    display: flex;
    gap: 10px;
  }
  .dados_footer > a {
    width: 140px;
    height: 30px;
  
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
  
    background: #deb959;
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0%;
    white-space: nowrap;
  }
  .pata_footer {
    display: flex;
    flex-direction: column;
    margin-left: 188px;
    gap: 15px;
    text-align: center;
  
    color: white;
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.41px;
    letter-spacing: 0%;
  }