
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      display: flex;
      flex-direction: column;
      gap: 80px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #85cdf5;
    width: auto;
    height: 130px;
    gap: 5%;
  }
  
  header > a {
    width: auto;
    height: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #333333;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
  }
  
  header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #deb959;
    transition: width 1s ease-in-out;
  }
  
  header a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
.lista:hover{
  color: #deb959;
  transition: ease-in-out 0.3s;
}
.qmsomos:hover{
  color: #deb959;
  transition: ease-in-out 0.3s;
}
.formulario {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #333;
    background: #fff;
    gap: 20px;
  
    width: 958px;
    height: 874px;
  }
  .formulario h1 {
    padding: 54px 74px;
    color: #000;
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .dados_em_linha {
    display: flex;
    flex-direction: row;
  
    gap: 20px;
  }
  
  .formulario p {
    color: #000;
    font-family: "Darker Grotesque";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .texto {
    width: 564px;
    height: 39px;
    flex-shrink: 0;
    border: 1px solid #333;
    background: #e6e6e6;
    padding-left: 1%;
  }
  .numero {
    width: 177.14px;
    height: 39px;
    flex-shrink: 0;
    border: 1px solid #333;
    background: #e6e6e6;
    padding-left: 5%;
  }
  .url {
    width: 760.977px;
    height: 39px;
    flex-shrink: 0;
    border: 1px solid #333;
    background: #e6e6e6;
    padding-left: 1%;
  }
  .formulario textarea {
    width: 760.977px;
    height: 250px;
    flex-shrink: 0;
    border: 1px solid #333;
    background: #e6e6e6;
    padding: 1%;
  }
  .formulario button {
    width: 209px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid #333;
    background: #2c5680;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .formulario button:hover{
    cursor: pointer;
    color: aqua;
  }

  .formulario button:active{
    cursor: pointer;
    color: greenyellow;
    background-color: green;
  }

  footer {
    width: auto;
    height: 270px;
    background: #333333;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .dados_footer {
    display: flex;
    flex-direction: column;
    width: 378px;
    gap: 30px;
  }
  .dados_footer > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0%;
    gap: 20px;
    color: white;
  }
  .dados_footer > ul > li {
    display: flex;
    gap: 10px;
  }
  .dados_footer > a {
    width: 140px;
    height: 30px;
  
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
  
    background: #deb959;
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0%;
    white-space: nowrap;
  }
  .pata_footer {
    display: flex;
    flex-direction: column;
    margin-left: 188px;
    gap: 15px;
    text-align: center;
  
    color: white;
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.41px;
    letter-spacing: 0%;
  }