* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #85cdf5;
  width: auto;
  height: 130px;
  gap: 5%;
}

header > a {
  width: auto;
  height: 30px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #333333;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

header a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #deb959;
  transition: width 1s ease-in-out;
}

header a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.lista:hover{
  color: #deb959;
  transition: ease-in-out 0.3s;
}
.qmsomos:hover{
  color: #deb959;
  transition: ease-in-out 0.3s;
}
.titulo_exemplo{
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 48px;
    line-height: 65.09px;
    letter-spacing: 0%;
    color: black;
    margin-top: 50px;
    margin-bottom: 83px;
}
.lobo1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.lobo_exemplo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    gap:60px;

}
.texto_exemplo{
    display: flex;
    flex-direction: column;

    width: 461px;
    height: auto;
    font-family: Darker Grotesque;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;

}

.imagem_exemplo{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%; 
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    align-items: center;
    gap:30px;

}
.fundo_azul{
    width: 100%;
    height: 78%;
    background-color: #2C5680;

    position: absolute;
    bottom: 32%;  
    right: 8%; 
    border: 3px solid black;
    z-index: 1;
    

}
.imagem{
position: relative;
    width: 100%;
    bottom: 80%;
    z-index: 2;
    display: block;
    transform: scale(1);
    display: flex;
    
}
.botao_adocao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}
.adota{
    width: 180px;
    height: 56px;
    background: #7AAC3A;

    font-family: Roboto;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}
.excluir{
    width: 180px;
    height: 56px;
    background: #DE5959;

    font-family: Roboto;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.adota:hover{
  transform: ease-in-out 0.7s;
  color: greenyellow;
  cursor: pointer;
}
.excluir:hover{
  transform: ease-in-out 0.7s;
  color: purple;
  cursor: pointer;
}
footer {
    width: auto;
    height: 270px;
    background: #333333;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .dados_footer {
    display: flex;
    flex-direction: column;
    width: 378px;
    gap: 30px;
  }
  .dados_footer > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0%;
    gap: 20px;
    color: white;
  }
  .dados_footer > ul > li {
    display: flex;
    gap: 10px;
  }
  .dados_footer > a {
    width: 140px;
    height: 30px;
  
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
  
    background: #deb959;
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0%;
    white-space: nowrap;
  }
  .pata_footer {
    display: flex;
    flex-direction: column;
    margin-left: 188px;
    gap: 15px;
    text-align: center;
  
    color: white;
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.41px;
    letter-spacing: 0%;
  }
  